*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Work Sans;
    
}

.banner-one{
    background-image: url("../images/banner/banner1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    
    
}
.banner-one-right{
     padding: 90px;
}
.heading-one{
    color: #151414;
text-align: right;
font-size: 50px;
font-weight: 70;
padding: 10px;

}
.paragraph-one{
    color: #444343;
text-align: right;
font-size: 15px;
font-weight: 40;
line-height: 26px;
padding: 10px;
}
.button-one{
    color: #FFF,tomato;
font-size: 8px;
font-weight: 60;
text-align: right;
padding: 10px;
}





.image-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 90px;
}
.img-one-left{
    height: 550px;
    width: 450px;
}
.image-one-right{
    margin-right: 50px;
}
.heading-two{
    color: #151414;
    font-size: 40px;
font-weight: 70;
}
.paragraph-two{
    color: #444343;
    font-size: 15px;
font-weight: 40;
};
main{
    width: 100%;
}
.plan-title{
    text-align: center;
    padding-top: 50px;
    color: #151414;
font-size: 40px;
font-weight: 100%;


}
.plan{
    display: flex;
    justify-content: space-between;
    padding: 100px;  
height: 92.958px;









}